body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
}

.address {
  line-height: 1.3em;
}

.envelope, .stamp {
  border-style: solid;
  border-width: thin;
  border-color: darkgray;
}

.envelope {
  width: 550px;
  padding: .5em;
  margin-bottom: 50px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;
}

.envelope-from {
  grid-row-start: 1;
  grid-column-start: 1;
}

.envelope-to {
  grid-row-start: 2;
  grid-column-start: 2;
}

.stamp {
  width: 40px;
  height: 50px;

  grid-column-start: 3;
  justify-self: end;
}

.credit-card {
  width: 400px;
  background-color: navy;
  color: white;
  border-radius: 20px;


  padding: 1em;

  display: grid;
  grid-template-columns: 1fr min-content 2fr;
  grid-template-rows: 3fr 1fr .5fr 1fr 1fr;
}

.bank {
  grid-column: span 3;
  justify-self: end;


  font-size: 2em;
  font-weight: bold;
}

.card-num {
  grid-column: span 3;
  justify-self: center;

  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  font-weight: bold;
}

.cvv {
  grid-column: span 3;

  font-size: .8em;
}

.valid {
  margin-right: 1em;
  grid-column-start: 2;
  text-transform: uppercase;
  font-size: .5em;
}

.name {
  grid-column: span 3;

  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
}