body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.error {
  margin-bottom: 50px;
  padding: 1em;

  background-color: pink;
  border: thin solid tomato;
  border-radius: 5px;

  color: red;
}

.error i {
  margin-right: 1em;
}

.dialog {
  border: thin solid gray;

  max-width: 500px;
  padding: 1em;
}

.dialog footer {
  display: flex;
  justify-content: flex-end;
}

button {
  padding: .8em 1em;
  font-size: .8em;
  border-radius: 5px;
}